

nav {
    border: 1px solid black;
    margin-top: 20px;
}

.row {
    margin-bottom: 30px;
}
.drop {
    padding-left:791px;
}

.card{
    margin-bottom: 30px;
}

.card-title {
    padding-top:330px;
    margin-bottom: 20px;
}

.card button {
    margin-bottom: 20px;
}
